<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página del Doctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Especialistas y sus Horarios</h1>
    
    <table id="tablaEspecialistas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>
            {% for item in especialistas_horarios %}
                <tr>
                    <td>{{ item.especialista.nombre }}</td>
                    <td>{{ item.especialista.especialidad }}</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora de Inicio</th>
                                    <th>Hora de Fin</th>
                                    <th>Disponibilidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for horario in item.horarios %}
                                    <tr>
                                        <td>{{ horario[1] }}</td> <!-- Fecha -->
                                        <td>{{ horario[2] }}</td> <!-- Hora de inicio -->
                                        <td>{{ horario[3] }}</td> <!-- Hora de fin -->
                                        <td>{{ 'Disponible' if horario[4] else 'No disponible' }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
