<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}">
    <title>Doctor</title>
</head>
<body>
    <button class="volver-btn" onclick="location.href='{{ url_for('index') }}'">Volver</button>
    <h1>Información del Especialista</h1>
    <table id="tablaEspecialistas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>            
            <tr>
                <td>{{ especialista[0].nombre }}</td>
                <td>{{ especialista[0].especialidad }}</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Hora de Inicio</th>
                                <th>Hora de Fin</th>
                                <th>Disponibilidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for horario in horarios %}
                                <tr>
                                    <td>{{ horario.fecha }}</td> <!-- Fecha -->
                                    <td>{{ horario.hora_inicio }}</td> <!-- Hora de inicio -->
                                    <td>{{ horario.hora_fin }}</td> <!-- Hora de fin -->
                                    <td>{{ 'Disponible' if horario.disponible else 'Reservado' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>