<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página del Doctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}">
    <script src="{{ url_for('static', filename='js/doctor.js') }}" type="text/javascript"></script>
</head>
<body>
    <button class="volver-btn" onclick="location.href='{{ url_for('index') }}'">Volver</button>
    

    <!-- Botón de Notificaciones -->
    <button id="btnNotificaciones" onclick="toggleNotificaciones()">Notificaciones</button>

    <!-- Ventana Emergente de Notificaciones -->
    <div id="ventanaNotificaciones">
        <h2>Notificaciones</h2>
        {% if logs %}
            {% for log in logs %}
                <div class="notificacion">{{ log['mensaje'] }}</div>
            {% endfor %}
        {% else %}
            <p>No hay notificaciones.</p>
        {% endif %}
    </div>
    <h1>Especialistas y sus Horarios</h1>
    
    <table id="tablaEspecialistas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>            
            <tr>
                <td>{{ especialista[0].nombre }}</td>
                <td>{{ especialista[0].especialidad }}</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Hora de Inicio</th>
                                <th>Hora de Fin</th>
                                <th>Disponibilidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for horario in horarios %}
                                <tr>
                                    <td>{{ horario.fecha }}</td> <!-- Fecha -->
                                    <td>{{ horario.hora_inicio }}</td> <!-- Hora de inicio -->
                                    <td>{{ horario.hora_fin }}</td> <!-- Hora de fin -->
                                    <td>{{ 'Disponible' if horario.disponible else 'Reservado' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>