<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="menu">
        <h1>Selecciona una opción</h1>
        <h2>¿Es usted un?</h2>
            <div class="botones">
                <button onclick="location.href='{{ url_for('logPaciente') }}'">Paciente</button>
                <button onclick="location.href='{{ url_for('doctor', rutE='12345678-9') }}'">Doctor</button>
                <button onclick="location.href='{{ url_for('logAdmin') }}'">Administrativo</button>
            </div>
    </div>
</body>
</html>
