body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin: 0 auto;
    flex-grow: 1;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

table:not(.nested) tr:hover {
    background-color: #e2e2e2;
}

table:not(.nested) th, table:not(.nested) td {
    border-left: none;
    border-right: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #7675cf;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #584d9f;
}

.volver-btn {
    margin-right: auto;
}