<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Administrativa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="menu">
        <h1>Bienvenido a la Página Administrativa</h1>
        <p>Esta sección está destinada a los administrativos. Aquí podrás gestionar la información relacionada con la administración del sistema.</p>
        <button onclick="location.href='{{ url_for('index') }}'">Volver al Inicio</button>
    </div>
</body>
</html>
